In [6]:
import pandas as pd
from matplotlib import pyplot as plt
import requests
import json
from IPython.display import Image
import datetime

# START HERE #
Pulling in the Resident survey results; looks like surveys came in all through out 2018. So, I'll pull in data from at least 2016 all the way up through the end of 2018.

In [ ]:
survey_df = pd.read_csv('../data/initial_data/Metro_Resident_Survey_Responses.csv')

In [ ]:
survey_df.head()

In [ ]:
survey_df.info()

In [ ]:
survey_df['Start Date'].min()

In [ ]:
survey_df['Start Date'].max()

In [ ]:
survey_df['End Date'].min()

In [ ]:
survey_df['End Date'].max()

# METRO POLICE CALL FOR SERVICE #
Pulling in the data relevant to timeframe using API.

In [ ]:
endpoint1 = 'https://data.nashville.gov/resource/kwnd-qrrm.json'#?$where=call_rec between "2016-01-01" and "2018-12-31"'

params1 = {
  '$limit':6000000,  
  '$where':'call_rec between "2016-01-01" and "2018-12-31"'
}

response1 = requests.get(endpoint1, params=params1)

In [ ]:
response1

In [ ]:
pd_service_calls = pd.DataFrame(response1.json())
pd_service_calls

In [ ]:
pd_service_calls['call_rec'].min()

In [ ]:
pd_service_calls['call_rec'].max()

In [ ]:
pd_service_calls.to_csv('police_calls_for_service.csv')

# END/METRO POLICE CALLS FOR SERVICE#
Got that - now for incident reports.

# METRO POLICE INCIDENTS #
Pulling this data, again from 2016 to 2018.

In [ ]:
endpoint2 = 'https://data.nashville.gov/resource/2u6v-ujjs.json'

params2 = {
  '$limit':6000000,  
  '$where':'incident_occured between "2016-01-01" and "2018-12-31"',
  '$where':'incident_reported between "2016-01-01" and "2018-12-31"'  
}

response2 = requests.get(endpoint2, params=params2)

In [ ]:
pd_incidents = pd.DataFrame(response2.json())
pd_incidents

In [ ]:
pd_incidents['incident_occurred'].min()

In [ ]:
pd_incidents['incident_occurred'].max()

In [ ]:
pd_incidents['incident_reported'].min()

In [ ]:
pd_incidents['incident_reported'].max()

In [ ]:
pd_incidents.to_csv('police_incidents.csv')

# END/METRO POLICE INCIDENTS #
One more data set to go...

# HubNashville Service Requests #
Now to pull this set, again 2016 thru 2018.

In [ ]:
endpoint3 = 'https://data.nashville.gov/resource/7qhx-rexh.json'

params3 = {
  '$limit':6000000,  
  '$where':'date_time_opened between "2016-01-01" and "2018-12-31"',  
}

response3 = requests.get(endpoint3, params=params3)

In [ ]:
hubnashville_requests = pd.DataFrame(response3.json())
hubnashville_requests

In [ ]:
hubnashville_requests['date_time_opened'].min()

In [ ]:
hubnashville_requests['date_time_opened'].max()

In [ ]:
hubnashville_requests.to_csv('hubnashville_requests.csv')

# END/HubNashville Requests #

# hubNashville CLEANING AND EDA #
Now time to start looking at the hubNashville Survey results, and clean up as necessary.

In [2]:
hubnashville_requests = pd.read_csv('../data/initial_data/hubnashville_requests.csv')

C:\Users\Ed\AppData\Local\Temp\ipykernel_7672\3464122576.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  hubnashville_requests = pd.read_csv('../data/initial_data/hubnashville_requests.csv')

In [3]:
hubnashville_requests.head()

,Unnamed: 0,case_number,status,case_request,case_subrequest,additional_subrequest,date_time_opened,date_time_closed,case_origin,oem_id,...,state_issue,closed_when_created,incident_address,incident_city,incident_council_district,incident_zip_code,latitude,longitude,mapped_location,parent_case
0,0,161,Closed,"Streets, Roads & Sidewalks",Potholes,Roadway,2017-07-17T03:30:00.000,2017-07-21T07:36:00.000,Phone,OE-00020338,...,False,True,Glendale Ln & Colony Ct,NASHVILLE,25.0,37204,36.09429,-86.79514,"{'latitude': '36.09429', 'longitude': '-86.795...",NaN
1,1,163,Closed,"Trash, Recycling & Litter",Missed Pickup - Trash Cart Service,Trash - Curbside/Alley Missed Pickup,2017-07-17T07:12:00.000,2017-07-21T11:58:00.000,Phone,NaN,...,False,True,3117 PENN MEADE WAY,NASHVILLE,15.0,37214,36.24230,-86.70428,"{'latitude': '36.2423', 'longitude': '-86.70428'}",NaN
2,2,172,Closed,"Trash, Recycling & Litter",File a Trash or Recycling Complaint,Recycling Collection Complaint,2017-07-17T07:46:00.000,2017-07-21T12:00:00.000,Phone,NaN,...,False,True,2815 DUNMORE DR,NASHVILLE,15.0,37214,36.15513,-86.66034,"{'latitude': '36.15513', 'longitude': '-86.660...",NaN
3,3,176,Closed,"Trash, Recycling & Litter",Cart Service,Trash - Report a Damaged Cart,2017-07-17T07:54:00.000,2017-07-21T12:01:00.000,Phone,NaN,...,False,True,4405 UTAH AVE,NASHVILLE,24.0,37209,36.14431,-86.83993,"{'latitude': '36.14431', 'longitude': '-86.839...",NaN
4,4,179,Closed,"Trash, Recycling & Litter",Missed Pickup - Trash Cart Service,Trash - Curbside/Alley Missed Pickup,2017-07-17T08:05:00.000,2017-07-21T12:02:00.000,Phone,NaN,...,False,True,2018 STRAIGHTWAY AVE,NASHVILLE,6.0,37206,36.19210,-86.73126,"{'latitude': '36.1921', 'longitude': '-86.73126'}",NaN

In [4]:
hubnashville_requests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117855 entries, 0 to 117854
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 117855 non-null  int64
 1   case_number                117855 non-null  int64
 2   status                     117855 non-null  object
 3   case_request               117577 non-null  object
 4   case_subrequest            117530 non-null  object
 5   additional_subrequest      117521 non-null  object
 6   date_time_opened           117855 non-null  object
 7   date_time_closed           117598 non-null  object
 8   case_origin                117855 non-null  object
 9   oem_id                     15201 non-null   object
 10  contact_type               18001 non-null   object
 11  state_issue                117855 non-null  bool
 12  closed_when_created        117855 non-null  bool
 13  incident_address           112000 non-null  object
 14  incident_city              110763 non-null  object
 15  incident_council_district  110639 non-null  float64
 16  incident_zip_code          110724 non-null  object
 17  latitude                   110806 non-null  float64
 18  longitude                  110806 non-null  float64
 19  mapped_location            110806 non-null  object
 20  parent_case                781 non-null     float64
dtypes: bool(2), float64(4), int64(2), object(13)
memory usage: 17.3+ MB

Noticing that the date_time_opened and date_time_closed didn't transfer over as Datetime data type; fixing that.

In [13]:
hubnashville_requests['date_time_opened']= pd.to_datetime(hubnashville_requests['date_time_opened'])
hubnashville_requests['date_time_closed']= pd.to_datetime(hubnashville_requests['date_time_closed'])

In [14]:
hubnashville_requests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117855 entries, 0 to 117854
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 117855 non-null  int64
 1   case_number                117855 non-null  int64
 2   status                     117855 non-null  object
 3   case_request               117577 non-null  object
 4   case_subrequest            117530 non-null  object
 5   additional_subrequest      117521 non-null  object
 6   date_time_opened           117855 non-null  datetime64[ns]
 7   date_time_closed           117598 non-null  datetime64[ns]
 8   case_origin                117855 non-null  object
 9   oem_id                     15201 non-null   object
 10  contact_type               18001 non-null   object
 11  state_issue                117855 non-null  bool
 12  closed_when_created        117855 non-null  bool
 13  incident_address           112000 non-null  object
 14  incident_city              110763 non-null  object
 15  incident_council_district  110639 non-null  float64
 16  incident_zip_code          110724 non-null  object
 17  latitude                   110806 non-null  float64
 18  longitude                  110806 non-null  float64
 19  mapped_location            110806 non-null  object
 20  parent_case                781 non-null     float64
dtypes: bool(2), datetime64[ns](2), float64(4), int64(2), object(11)
memory usage: 17.3+ MB

In [24]:
pd.set_option('display.max_columns', None)

In [25]:
hubnashville_requests.head()

,Unnamed: 0,case_number,status,case_request,case_subrequest,additional_subrequest,date_time_opened,date_time_closed,case_origin,oem_id,contact_type,state_issue,closed_when_created,incident_address,incident_city,incident_council_district,zip_code,latitude,longitude,mapped_location,parent_case,resolution_time
0,0,161,Closed,"Streets, Roads & Sidewalks",Potholes,Roadway,2017-07-17 03:30:00,2017-07-21 07:36:00,Phone,OE-00020338,Business,False,True,Glendale Ln & Colony Ct,NASHVILLE,25.0,37204,36.09429,-86.79514,"{'latitude': '36.09429', 'longitude': '-86.795...",NaN,4 days 04:06:00
1,1,163,Closed,"Trash, Recycling & Litter",Missed Pickup - Trash Cart Service,Trash - Curbside/Alley Missed Pickup,2017-07-17 07:12:00,2017-07-21 11:58:00,Phone,NaN,NaN,False,True,3117 PENN MEADE WAY,NASHVILLE,15.0,37214,36.24230,-86.70428,"{'latitude': '36.2423', 'longitude': '-86.70428'}",NaN,4 days 04:46:00
2,2,172,Closed,"Trash, Recycling & Litter",File a Trash or Recycling Complaint,Recycling Collection Complaint,2017-07-17 07:46:00,2017-07-21 12:00:00,Phone,NaN,NaN,False,True,2815 DUNMORE DR,NASHVILLE,15.0,37214,36.15513,-86.66034,"{'latitude': '36.15513', 'longitude': '-86.660...",NaN,4 days 04:14:00
3,3,176,Closed,"Trash, Recycling & Litter",Cart Service,Trash - Report a Damaged Cart,2017-07-17 07:54:00,2017-07-21 12:01:00,Phone,NaN,NaN,False,True,4405 UTAH AVE,NASHVILLE,24.0,37209,36.14431,-86.83993,"{'latitude': '36.14431', 'longitude': '-86.839...",NaN,4 days 04:07:00
4,4,179,Closed,"Trash, Recycling & Litter",Missed Pickup - Trash Cart Service,Trash - Curbside/Alley Missed Pickup,2017-07-17 08:05:00,2017-07-21 12:02:00,Phone,NaN,NaN,False,True,2018 STRAIGHTWAY AVE,NASHVILLE,6.0,37206,36.19210,-86.73126,"{'latitude': '36.1921', 'longitude': '-86.73126'}",NaN,4 days 03:57:00

In [16]:
#Changing the name of the ZIP Code column so it matches the other data tables I'm using
hubnashville_requests.rename(columns = {'incident_zip_code':'zip_code'}, inplace = True)

In [17]:
hubnashville_requests.head(2)

,Unnamed: 0,case_number,status,case_request,case_subrequest,additional_subrequest,date_time_opened,date_time_closed,case_origin,oem_id,...,state_issue,closed_when_created,incident_address,incident_city,incident_council_district,zip_code,latitude,longitude,mapped_location,parent_case
0,0,161,Closed,"Streets, Roads & Sidewalks",Potholes,Roadway,2017-07-17 03:30:00,2017-07-21 07:36:00,Phone,OE-00020338,...,False,True,Glendale Ln & Colony Ct,NASHVILLE,25.0,37204,36.09429,-86.79514,"{'latitude': '36.09429', 'longitude': '-86.795...",NaN
1,1,163,Closed,"Trash, Recycling & Litter",Missed Pickup - Trash Cart Service,Trash - Curbside/Alley Missed Pickup,2017-07-17 07:12:00,2017-07-21 11:58:00,Phone,NaN,...,False,True,3117 PENN MEADE WAY,NASHVILLE,15.0,37214,36.24230,-86.70428,"{'latitude': '36.2423', 'longitude': '-86.70428'}",NaN

In [21]:
#Now, creating a new column that subtracts the time the request was opened from the time it closed, i.e. how long it took to resolve.

min   2017-07-17 03:30:00
max   2018-12-30 23:39:00
Name: date_time_opened, dtype: datetime64[ns]

In [22]:
hubnashville_requests['resolution_time'] = hubnashville_requests['date_time_closed'] - hubnashville_requests['date_time_opened']

In [26]:
hubnashville_requests.head()

,Unnamed: 0,case_number,status,case_request,case_subrequest,additional_subrequest,date_time_opened,date_time_closed,case_origin,oem_id,contact_type,state_issue,closed_when_created,incident_address,incident_city,incident_council_district,zip_code,latitude,longitude,mapped_location,parent_case,resolution_time
0,0,161,Closed,"Streets, Roads & Sidewalks",Potholes,Roadway,2017-07-17 03:30:00,2017-07-21 07:36:00,Phone,OE-00020338,Business,False,True,Glendale Ln & Colony Ct,NASHVILLE,25.0,37204,36.09429,-86.79514,"{'latitude': '36.09429', 'longitude': '-86.795...",NaN,4 days 04:06:00
1,1,163,Closed,"Trash, Recycling & Litter",Missed Pickup - Trash Cart Service,Trash - Curbside/Alley Missed Pickup,2017-07-17 07:12:00,2017-07-21 11:58:00,Phone,NaN,NaN,False,True,3117 PENN MEADE WAY,NASHVILLE,15.0,37214,36.24230,-86.70428,"{'latitude': '36.2423', 'longitude': '-86.70428'}",NaN,4 days 04:46:00
2,2,172,Closed,"Trash, Recycling & Litter",File a Trash or Recycling Complaint,Recycling Collection Complaint,2017-07-17 07:46:00,2017-07-21 12:00:00,Phone,NaN,NaN,False,True,2815 DUNMORE DR,NASHVILLE,15.0,37214,36.15513,-86.66034,"{'latitude': '36.15513', 'longitude': '-86.660...",NaN,4 days 04:14:00
3,3,176,Closed,"Trash, Recycling & Litter",Cart Service,Trash - Report a Damaged Cart,2017-07-17 07:54:00,2017-07-21 12:01:00,Phone,NaN,NaN,False,True,4405 UTAH AVE,NASHVILLE,24.0,37209,36.14431,-86.83993,"{'latitude': '36.14431', 'longitude': '-86.839...",NaN,4 days 04:07:00
4,4,179,Closed,"Trash, Recycling & Litter",Missed Pickup - Trash Cart Service,Trash - Curbside/Alley Missed Pickup,2017-07-17 08:05:00,2017-07-21 12:02:00,Phone,NaN,NaN,False,True,2018 STRAIGHTWAY AVE,NASHVILLE,6.0,37206,36.19210,-86.73126,"{'latitude': '36.1921', 'longitude': '-86.73126'}",NaN,4 days 03:57:00

In [27]:
#Worked, now, let's move it to where it's right beside the date_time columns.
hubnashville_requests = hubnashville_requests.loc[:,['case_number',
                                                     'status',
                                                     'case_request',
                                                     'case_subrequest',
                                                     'additional_subrequest',
                                                     'date_time_opened',
                                                     'date_time_closed',
                                                     'resolution_time',
                                                     'case_origin',
                                                     'oem_id',
                                                     'contact_type',
                                                     'state_issue',
                                                     'closed_when_created',
                                                     'incident_address',
                                                     'incident_city',	
                                                     'incident_council_district',
                                                     'zip_code',
                                                     'latitude',
                                                     'longitude',
                                                     'mapped_location',
                                                     'parent_case',]]

In [33]:
hubnashville_requests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117855 entries, 0 to 117854
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   case_number                117855 non-null  int64
 1   status                     117855 non-null  object
 2   case_request               117577 non-null  object
 3   case_subrequest            117530 non-null  object
 4   additional_subrequest      117521 non-null  object
 5   date_time_opened           117855 non-null  datetime64[ns]
 6   date_time_closed           117598 non-null  datetime64[ns]
 7   resolution_time            117598 non-null  timedelta64[ns]
 8   case_origin                117855 non-null  object
 9   oem_id                     15201 non-null   object
 10  contact_type               18001 non-null   object
 11  state_issue                117855 non-null  bool
 12  closed_when_created        117855 non-null  bool
 13  incident_address           112000 non-null  object
 14  incident_city              110763 non-null  object
 15  incident_council_district  110639 non-null  float64
 16  zip_code                   110724 non-null  object
 17  latitude                   110806 non-null  float64
 18  longitude                  110806 non-null  float64
 19  mapped_location            110806 non-null  object
 20  parent_case                781 non-null     float64
dtypes: bool(2), datetime64[ns](2), float64(4), int64(1), object(11), timedelta64[ns](1)
memory usage: 17.3+ MB

#Awesome - done! Now exporting to CSV and moving into my working notebook.

In [32]:
hubnashville_requests.to_csv('hubnashville_requests_cleaned.csv')